.mylibrary {
    .mainLogo {
        h1 {
            font-family: lobster, sans-serif;
            font-weight: bold;
            font-size: 24px;
        }

        img {
            width: auto;
            height: 25px;
        }
    }
    .subtitle {
        h2 {
            font-family: lobster, sans-serif;
            font-weight: normal;
            font-size: 25px;
        }
    }
}

.button-text-medium {
    font-size: 15px;
}

.mainMenu{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.mainMenuProfile{
    border-top: 1px solid grey;
}

body {
    font-family: raleway, sans-serif;
}
