<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <link rel="stylesheet" href="bower/_bower.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body layout="row" ng-app="myLibraryAngularJs" class="mylibrary">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" layout="column" layout-align="space-between"
            md-is-locked-open="true">
    <div ng-controller="MainMenuCtrl" flex>
        <md-toolbar layout="row" layout-align="center center" class="mainLogo">
            <h1>My Library</h1>
        </md-toolbar>
        <div layout="row" layout-padding layout-margin>
            <div>
                <angucomplete-alt id="search.searchField"
                                  placeholder="Search"
                                  pause="1"
                                  selected-object="search.selectedTag"
                                  local-data="search.tags"
                                  search-fields="name"
                                  title-field="name"
                                  minlength="1"
                                  input-class="autocomplete-field form-control form-control-small" flex>
                </angucomplete-alt>
            </div>
        </div>
        <div class="mainMenu" layout="row" layout-align="center start" layout-padding flex>
            <md-button ng-href="#!/home" class="button-text-medium" aria-label="Inscription" flex>
                <span class="fa fa-newspaper-o"></span> News
            </md-button>
            <md-button ng-href="#!/books" class="button-text-medium" aria-label="Inscription" flex>
                <span class="fa fa-book"></span> Books
            </md-button>
        </div>
    </div>
    <div class="mainMenuProfile" layout="column">
        <div layout="row" layout-align="space-around" layout-padding>
            <md-button ng-click="showAdvanced($event)" class="button-text-medium" aria-label="Register" flex>
                <span class="fa fa-pencil"></span> Register
            </md-button>
            <md-button ng-click="showAdvanced($event)" class="button-text-medium" aria-label="Connect" flex>
                <span class="fa fa-sign-in"></span> Sign-In
            </md-button>
        </div>
    </div>
</md-sidenav>

<div ng-view flex layout="column"></div>


<script type="text/javascript" src="bower/_bower.js"></script>
<script type="text/javascript" src="js/all.js"></script>
<!-- endbuild -->
</body>
</html>
